# Environments
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Data and Models
data/
cache/
*.pt
*.pth
*.weights
*.onnx

# Downloaded Images
bus.jpg

# IDE / OS
.vscode/
.idea/
.DS_Store

# Logs and Videos / Outputs
*.mp4
*.avi
*.log
frames/
frames_cinematic/
frames_small_city/
warehouse_xl_frames/

# Credentials & SSH Keys
*.pem
*.key
*.pub
id_*
credentials*
*.secret

